@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BizimSayfamiz</title>
</head>
<body>
    <div>
        <b>Sevgili MVC;</b><br />
        <i>bana kalbin kadar temiz bir sayfa oluşturduğun için <u>teşekkür ederim</u>......</i>
    </div>
</body>
</html>
