
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Anasayfa</title>
</head>
<body>
    <div>
        <img src="https://www.btakademi.com/images/btAkademi_logo.png" style="width:150px;" />


        <br />
        Burası sitenin anasayfası....



    </div>
</body>
</html>
