
@{
    ViewBag.Title = "About"; // bu kısma daha değineceğiz...
    Layout = "~/Views/Shared/Master.cshtml";
}


<h2>About</h2>

<div style="background-color:red; color:white">

    Biz kimiz ? bizler yazılama gönül veren yazılım erleriyiz....

</div>

