
@{
    // sayfamızın şablon sayfası belirtilen path'dedir...runtime da bu sayfa ile layout sayfa birleştirilecektir....
    Layout = "~/Views/Shared/Master.cshtml";
}


<!--Bu sayfa layout page'den türediği için çalışma zamanında layout page'nin RenderBody metodu ile belirtilen yerde render edilecektir. yani bu sayfa alt sayfadır. Bu yüzden bu sayfada içerik html tanımlanmalıdır. <html><head> vb taslak htmller layot page'de tanımlanmalıdır.. bu yüzden bu sayfada sadece sayfanın tasarım htmlleri kodlanmalıdır...-->

<h1> Burası bizim sitemizin anasayfasıdır...</h1>

<h1>Çalışmaya devam ediyoruz...</h1>

