
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BenimSayfam</title>
</head>
<body>
    <div>

        bu sayfa bizim sayfamız..


    </div>
</body>
</html>
